# Xcode and Swift
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
.build/

# Fastlane and Bundler
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
!fastlane/README.md

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# General
*.tmp
*.log
.idea/
.vscode/
